// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.tabs-ios {
    .tab-button{
        &[aria-selected=true] {
        .tab-button-icon {
            font-weight: bold
            }
        }
        
        .tab-button-icon {
           font-size: 26px;
        }

        // &:nth-child(3) {
        //     &[aria-selected=true] {
        //         .tab-button-icon { 
        //             color: white;
        //         }
        //     }
        //     border-radius: 50%;
        //     padding: 0px;
        //     min-width: 0px;
        //     width: 56px;
        //     height: 60px;
        //     box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
        //     color: rgba(255, 255, 255, 1);
        //     background-color: #75194A;
        //     box-sizing: border-box;
        //     min-height: 36px;
        //     top:-10px;

        //     ion-icon {
        //         color: white;
        //         font-weight: bold;
        //     }
        // } 
    } 
}


ion-navbar {
    ion-buttons {
        ion-icon {
            font-weight: bold;
        }
    }
}